.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.shopping-cart {
    width: 22vw;
}

.main-container {
    display: flex;
    padding-right: 32px;
}

.card-img-top{
    height: 20vh;
    width: 100%;
}

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;

    }
}